@page
@model WebApp.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tbody>
            @foreach (var item in Model.ProductD.Products)
            {
                string selectedRow = "";
                if (item.ProductID == Model.ProdID)
                {
                    selectedRow = "table-success";
                }
            <tr class="@selectedRow">
                <td>
                        @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Price)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
